.addButton{
    background-color: var(--primary-9);
    color: var(--secondary-3);
    border: none;
    border-radius: 100%;
    padding: 20px 30px;
    font-size: 5rem;
    cursor: pointer;
}
.addButton:hover{
    background-color: var(--primary-8);
    color: var(--secondary-2);
}
.addButton:active{
    background-color: var(--primary-7);
    color: var(--secondary-1);
}